*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: sandro;
  src: url(../../assets/fonts/Sandro-Regular.ttf);
}
@font-face {
  font-family: BPG;
  src: url(../../assets/fonts/bpg_arial_2009.ttf);
}
@font-face {
  font-family: mtavruli;
  src: url(../../assets/fonts/bpg-nino-mtavruli-webfont.ttf);
}
* {
  color: #163A57;
}

html {
  overflow-x: hidden;
}

p {
  font-family: sandro;
  font-size: 1.25rem;
}

h2,
h3 {
  font-family: mtavruli;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}

.center-container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 77.688rem;
  margin: 2.688rem auto 2.313rem auto;
  background-color: #F0F0F0;
}
.center-container .section-header {
  margin-top: 3.063rem;
  margin-bottom: 1.625rem;
  margin-right: 15.313rem;
  font-size: 3rem;
  font-weight: bold;
}
.center-container .section-p {
  width: 65rem;
  line-height: 1.5;
}
.center-container .section-p.small {
  font-size: 0.875rem;
  margin-bottom: 10.375rem;
}
.center-container .iframe {
  width: 45.688rem;
  height: 26.313rem;
  margin-bottom: 5.25rem;
  margin-top: 1.625rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.game {
  width: 100%;
  margin-top: 2.563rem;
}
.game .PoS {
  display: flex;
  align-items: stretch;
  width: -moz-fit-content;
  width: fit-content;
  height: 5.688rem;
  border-top-right-radius: 1.5rem;
  background: linear-gradient(90deg, #C9C9C9 50%, #B4B4B4 50%);
}
.game .part {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  flex-flow: row nowrap;
  height: 100%;
  padding: 0 0.938rem;
  font-size: 1.563rem;
  border-top-right-radius: 1.5rem;
}
.game .part .icon {
  width: 4.563rem;
  height: 4.563rem;
  background-color: darkblue;
  border-radius: 0.5rem;
}
.game .nouns {
  background: #DEDEDE;
}
.game .postpositions {
  background: #C9C9C9;
}
.game .verbs {
  background: #B4B4B4;
}
.game .nouns, .game .postpositions, .game .verbs, .game .finish {
  font-family: mtavruli;
  font-weight: bold;
}
.game .sentence {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2.813rem;
  width: 100%;
  height: 33.125rem;
  padding-top: 2.063rem;
  background-color: #F0F0F0;
}
.game .sentence .word {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.25rem;
  height: 16.5rem;
  background: #AAAAAA;
  border: 1px solid #707070;
  border-radius: 1.125rem;
  overflow: hidden;
}
.game .sentence .finish {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.188rem 1.125rem 0.481rem 1.125rem;
  color: #CFCFCF;
  font-size: 2.688rem;
  border-radius: 0.813rem;
  background-color: #0060AD;
  cursor: pointer;
}

.carousel {
  width: 100%;
  height: 12.813rem;
  position: relative;
  padding: 1.906rem 0;
  background-color: #DEDEDE;
}
.carousel .swiper {
  width: 90%;
  height: 100%;
}
.carousel .swiper .swiper-slide {
  width: 10rem;
  height: 100%;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B4B4B4;
  border-radius: 0.75rem;
  cursor: grab;
}

header {
  display: flex;
  width: 100%;
  height: 5.938rem;
  position: relative;
  padding: 0 0.313rem;
  background: #CFCFCF;
}
header img {
  height: 100%;
  align-self: center;
}
header nav {
  min-width: 65%;
  height: 1.25rem;
  align-self: flex-end;
  margin-bottom: 0.875rem;
  margin-left: 0.313rem;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.563rem;
}
header nav ul li {
  position: relative;
  padding: 0 1.688rem;
  font-size: 1.5rem;
}
header nav ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 0.125rem;
  height: 100%;
  right: -0.563rem;
  background: #163A57;
}

footer {
  height: 7.438rem;
  width: 100vw;
  padding-left: 1.25rem;
  padding-top: 0.813rem;
  background: #CFCFCF;
}
footer img {
  height: 5.167rem;
  margin-right: 1.333rem;
}/*# sourceMappingURL=global.css.map */