@font-face {
    font-family: sandro;
    src: url(../../assets/fonts/Sandro-Regular.ttf);
}
@font-face {
    font-family: BPG;
    src: url(../../assets/fonts/bpg_arial_2009.ttf);
}
@font-face {
    font-family: mtavruli;
    src: url(../../assets/fonts/bpg-nino-mtavruli-webfont.ttf);
}