footer{
    position: absolute;
    bottom: 0;
    height: 7.438rem;
    width: 100vw;
    padding-left: 1.25rem;
    padding-top: 0.813rem;
    background: $navBG;

    img{
        height: 5.167rem;
        margin-right: 1.333rem;
    }
}