$primary: #163A57;
$navBG: #CFCFCF;
$sectionBG: #F0F0F0;
$selected: #626161;
$nouns: #DEDEDE;
$postpositions: #C9C9C9;
$verbs: #B4B4B4;
$words: #AAAAAA;
$words-border: #707070;
$btnBG: #0060AD;
$nav-font-size: 1.5rem;
$p-font-size-regular: 1.25rem;
$p-font-size-small: 0.875rem;